.base-login {
	width: 100vw;
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 537px 1828px #fff, 1096px 1433px #fff, 1481px 1817px #fff,
		1500px 1199px #fff, 1396px 507px #fff, 343px 1738px #fff, 1229px 160px #fff,
		953px 880px #fff, 23px 1621px #fff, 1000px 204px #fff, 1637px 701px #fff,
		1764px 589px #fff, 125px 1464px #fff, 23px 41px #fff, 407px 1272px #fff,
		1145px 1333px #fff, 1888px 1748px #fff, 254px 1427px #fff,
		1675px 1991px #fff, 1602px 237px #fff, 199px 725px #fff, 512px 714px #fff,
		1860px 1292px #fff, 1552px 1940px #fff, 29px 697px #fff, 1888px 1814px #fff,
		1321px 934px #fff, 1510px 707px #fff, 1896px 317px #fff, 1082px 499px #fff,
		1517px 186px #fff, 495px 1449px #fff, 1616px 1129px #fff, 1647px 1383px #fff,
		565px 1920px #fff, 1042px 46px #fff, 834px 1954px #fff, 205px 1754px #fff,
		54px 302px #fff, 1649px 1389px #fff, 1861px 1337px #fff, 710px 1995px #fff,
		1170px 1474px #fff, 817px 886px #fff, 1880px 1486px #fff, 1447px 1892px #fff,
		420px 1331px #fff, 1131px 1876px #fff, 1200px 1530px #fff, 1816px 721px #fff,
		1204px 1071px #fff, 1642px 1285px #fff, 956px 363px #fff, 882px 1634px #fff,
		1866px 767px #fff, 864px 696px #fff, 1067px 1204px #fff, 341px 1964px #fff,
		899px 320px #fff, 1187px 753px #fff, 24px 1524px #fff, 1313px 1055px #fff,
		447px 1002px #fff, 523px 1894px #fff, 751px 1462px #fff, 711px 804px #fff,
		1949px 949px #fff, 1997px 73px #fff, 1864px 1406px #fff, 268px 10px #fff,
		682px 212px #fff, 338px 885px #fff, 1621px 1071px #fff, 48px 1328px #fff,
		412px 1281px #fff, 750px 1114px #fff, 421px 1167px #fff, 1866px 1230px #fff,
		1935px 109px #fff, 1696px 1926px #fff, 341px 567px #fff, 1789px 691px #fff,
		1328px 128px #fff, 1145px 837px #fff, 895px 705px #fff, 552px 1935px #fff,
		1547px 1288px #fff, 1401px 812px #fff, 1231px 514px #fff, 1652px 990px #fff,
		1119px 1936px #fff, 235px 1746px #fff, 1330px 1172px #fff, 505px 960px #fff,
		1598px 40px #fff, 525px 654px #fff, 1420px 1037px #fff, 1564px 1336px #fff,
		1951px 916px #fff, 588px 583px #fff, 320px 995px #fff, 576px 662px #fff,
		1853px 1470px #fff, 786px 610px #fff, 1166px 1459px #fff, 825px 365px #fff,
		1013px 814px #fff, 1645px 469px #fff, 141px 869px #fff, 1904px 64px #fff,
		53px 1401px #fff, 549px 1815px #fff, 1926px 575px #fff, 894px 1316px #fff,
		1685px 515px #fff, 1153px 1942px #fff, 549px 372px #fff, 1229px 537px #fff,
		1631px 1902px #fff, 52px 900px #fff, 1181px 1049px #fff, 607px 1139px #fff,
		1963px 1px #fff, 151px 585px #fff, 38px 1252px #fff, 1198px 1723px #fff,
		1467px 977px #fff, 1796px 975px #fff, 473px 747px #fff, 672px 610px #fff,
		1336px 1620px #fff, 1403px 1364px #fff, 1980px 1513px #fff,
		944px 1678px #fff, 152px 1854px #fff, 1197px 1715px #fff, 1113px 1565px #fff,
		1690px 955px #fff, 929px 698px #fff, 576px 228px #fff, 1893px 993px #fff,
		828px 1333px #fff, 1750px 1139px #fff, 963px 1824px #fff, 771px 186px #fff,
		1584px 470px #fff, 1461px 531px #fff, 577px 62px #fff, 1289px 1971px #fff,
		492px 1146px #fff, 401px 1326px #fff, 1877px 891px #fff, 163px 1713px #fff,
		1288px 1451px #fff, 1173px 982px #fff, 1929px 879px #fff, 1637px 109px #fff,
		408px 1810px #fff, 1807px 1821px #fff, 1842px 1405px #fff, 793px 1044px #fff,
		895px 635px #fff, 612px 981px #fff, 1225px 777px #fff, 1601px 159px #fff,
		233px 10px #fff, 99px 1165px #fff, 111px 331px #fff, 305px 893px #fff,
		983px 358px #fff, 709px 79px #fff, 1670px 260px #fff, 1713px 913px #fff,
		230px 59px #fff, 116px 1939px #fff, 593px 1530px #fff, 1994px 811px #fff,
		1682px 833px #fff, 38px 882px #fff, 1505px 864px #fff, 480px 1875px #fff,
		95px 1675px #fff, 1422px 1290px #fff, 1856px 147px #fff, 452px 1264px #fff,
		1142px 7px #fff, 485px 163px #fff, 1125px 1618px #fff, 983px 654px #fff,
		1507px 1842px #fff, 735px 1182px #fff, 1834px 1696px #fff, 1818px 103px #fff,
		376px 1550px #fff, 232px 119px #fff, 1347px 199px #fff, 1504px 1249px #fff,
		895px 743px #fff, 469px 228px #fff, 1402px 1183px #fff, 783px 1825px #fff,
		1901px 878px #fff, 287px 662px #fff, 562px 601px #fff, 615px 1846px #fff,
		1982px 1415px #fff, 1591px 1905px #fff, 1152px 1120px #fff, 247px 185px #fff,
		634px 917px #fff, 1526px 411px #fff, 13px 773px #fff, 1288px 1880px #fff,
		1810px 1571px #fff, 1267px 2px #fff, 333px 191px #fff, 1949px 1974px #fff,
		895px 285px #fff, 1330px 1964px #fff, 1860px 1126px #fff, 1395px 545px #fff,
		770px 1622px #fff, 1692px 802px #fff, 1374px 1360px #fff, 975px 1778px #fff,
		1379px 654px #fff, 1155px 614px #fff, 1453px 40px #fff, 1014px 1639px #fff,
		961px 1409px #fff, 1068px 348px #fff, 1275px 228px #fff, 1980px 1436px #fff,
		1553px 976px #fff, 626px 489px #fff, 768px 73px #fff, 258px 1623px #fff,
		748px 1147px #fff, 869px 923px #fff, 1404px 70px #fff, 1139px 19px #fff,
		187px 744px #fff, 1014px 1595px #fff, 1004px 489px #fff, 1420px 1900px #fff,
		1611px 440px #fff, 1073px 828px #fff, 1505px 1650px #fff, 1692px 650px #fff,
		233px 1562px #fff, 1535px 836px #fff, 1982px 1386px #fff, 589px 1942px #fff,
		204px 196px #fff, 1231px 1361px #fff, 1456px 902px #fff, 1903px 1816px #fff,
		1452px 226px #fff, 1773px 1702px #fff, 1768px 1672px #fff, 320px 905px #fff,
		164px 812px #fff, 419px 582px #fff, 1502px 896px #fff, 831px 1604px #fff,
		1811px 860px #fff, 1609px 1609px #fff, 514px 77px #fff, 371px 645px #fff,
		1568px 1466px #fff, 1845px 721px #fff, 1640px 1990px #fff,
		1437px 1431px #fff, 1616px 1348px #fff, 913px 89px #fff, 1990px 1372px #fff,
		558px 1294px #fff, 1794px 1106px #fff, 658px 515px #fff, 107px 856px #fff,
		1370px 1236px #fff, 811px 477px #fff, 1501px 632px #fff, 638px 828px #fff,
		991px 895px #fff, 1713px 303px #fff, 1483px 1522px #fff, 763px 1436px #fff,
		994px 655px #fff, 501px 702px #fff, 842px 1307px #fff, 1360px 1578px #fff,
		923px 1817px #fff, 1415px 1417px #fff, 1613px 583px #fff, 293px 995px #fff,
		1868px 566px #fff, 1239px 94px #fff, 1471px 1181px #fff, 1033px 79px #fff,
		903px 1329px #fff, 1355px 391px #fff, 96px 1999px #fff, 37px 944px #fff,
		54px 63px #fff, 56px 1588px #fff, 1525px 1979px #fff, 423px 857px #fff,
		742px 1447px #fff, 933px 577px #fff, 101px 188px #fff, 290px 1766px #fff,
		1630px 1708px #fff, 775px 666px #fff, 1422px 1891px #fff, 1921px 1623px #fff,
		1000px 545px #fff, 1624px 859px #fff, 1175px 603px #fff, 1926px 1696px #fff,
		1616px 760px #fff, 716px 1225px #fff, 1688px 1817px #fff, 475px 1666px #fff,
		1622px 1797px #fff, 1055px 753px #fff, 871px 1639px #fff, 754px 322px #fff,
		1090px 1894px #fff, 253px 1186px #fff, 1140px 1280px #fff, 684px 1944px #fff,
		1728px 1816px #fff, 1101px 507px #fff, 1573px 205px #fff, 184px 209px #fff,
		666px 1837px #fff, 1030px 1302px #fff, 1730px 1225px #fff, 535px 1667px #fff,
		779px 668px #fff, 976px 1589px #fff, 1252px 1050px #fff, 301px 438px #fff,
		1072px 274px #fff, 1415px 670px #fff, 312px 1104px #fff, 1612px 1884px #fff,
		569px 247px #fff, 1816px 1906px #fff, 1549px 722px #fff, 164px 1569px #fff,
		1715px 1087px #fff, 440px 34px #fff, 228px 1245px #fff, 1231px 574px #fff,
		833px 899px #fff, 172px 358px #fff, 940px 1714px #fff, 493px 1417px #fff,
		1656px 1317px #fff, 1736px 450px #fff, 1948px 659px #fff, 1938px 929px #fff,
		500px 1049px #fff, 790px 125px #fff, 1065px 1866px #fff, 1309px 357px #fff,
		1328px 1715px #fff, 1457px 632px #fff, 207px 1124px #fff, 1340px 1630px #fff,
		1864px 1730px #fff, 659px 465px #fff, 1722px 232px #fff, 1299px 1894px #fff,
		1349px 53px #fff, 1337px 1620px #fff, 582px 821px #fff, 564px 810px #fff,
		271px 949px #fff, 522px 1935px #fff, 1526px 836px #fff, 439px 391px #fff,
		265px 1257px #fff, 217px 1616px #fff, 1155px 1308px #fff, 288px 555px #fff,
		1084px 74px #fff, 1729px 1477px #fff, 1766px 230px #fff, 1150px 1438px #fff,
		1235px 1447px #fff, 940px 1119px #fff, 1784px 1932px #fff,
		1766px 1039px #fff, 304px 1014px #fff, 954px 530px #fff, 559px 1871px #fff,
		1885px 348px #fff, 252px 1602px #fff, 276px 1336px #fff, 1507px 523px #fff,
		148px 1458px #fff, 273px 1630px #fff, 923px 1072px #fff, 926px 619px #fff,
		1485px 1440px #fff, 1359px 1px #fff, 1798px 1437px #fff, 1214px 1668px #fff,
		414px 1137px #fff, 530px 1326px #fff, 1362px 1121px #fff, 111px 673px #fff,
		1778px 1180px #fff, 1668px 798px #fff, 97px 1346px #fff, 1164px 68px #fff,
		864px 960px #fff, 34px 1406px #fff, 1469px 1683px #fff, 1599px 612px #fff,
		421px 1245px #fff, 731px 809px #fff, 280px 728px #fff, 235px 1353px #fff,
		711px 1199px #fff, 1132px 323px #fff, 1724px 1029px #fff, 1647px 1001px #fff,
		1872px 1609px #fff, 1643px 296px #fff, 1279px 87px #fff, 1789px 687px #fff,
		114px 1600px #fff, 679px 1046px #fff, 704px 1946px #fff, 151px 1788px #fff,
		1702px 124px #fff, 1571px 615px #fff, 865px 944px #fff, 1172px 1549px #fff,
		1072px 887px #fff, 756px 1520px #fff, 1749px 1079px #fff, 1385px 803px #fff,
		487px 1387px #fff, 1053px 233px #fff, 354px 773px #fff, 1898px 1849px #fff,
		97px 107px #fff, 1820px 1750px #fff, 1736px 1026px #fff, 1970px 642px #fff,
		359px 854px #fff, 1798px 1416px #fff, 969px 1838px #fff, 777px 918px #fff,
		853px 416px #fff, 1392px 255px #fff, 1147px 546px #fff, 256px 498px #fff,
		1338px 280px #fff, 1366px 576px #fff, 1692px 126px #fff, 837px 1105px #fff,
		471px 1914px #fff, 621px 1003px #fff, 627px 982px #fff, 1609px 1812px #fff,
		1438px 283px #fff, 1035px 1381px #fff, 30px 1208px #fff, 1778px 1296px #fff,
		539px 1171px #fff, 1016px 1821px #fff, 365px 297px #fff, 376px 604px #fff,
		455px 1200px #fff, 537px 1401px #fff, 1595px 536px #fff, 238px 825px #fff,
		1388px 898px #fff, 1364px 509px #fff, 754px 880px #fff, 207px 902px #fff,
		579px 1100px #fff, 1449px 598px #fff, 1581px 1587px #fff, 1549px 1632px #fff,
		1603px 1237px #fff, 906px 1943px #fff, 914px 242px #fff, 64px 315px #fff,
		430px 1293px #fff, 783px 545px #fff, 65px 837px #fff, 1348px 1037px #fff,
		235px 868px #fff, 220px 204px #fff, 1889px 680px #fff, 607px 1817px #fff,
		1678px 103px #fff, 1939px 1184px #fff, 1453px 1525px #fff,
		1001px 1452px #fff, 1082px 1147px #fff, 658px 691px #fff, 754px 1880px #fff,
		1887px 389px #fff, 789px 663px #fff, 1295px 1689px #fff, 1598px 193px #fff,
		1793px 1166px #fff, 109px 1090px #fff, 82px 885px #fff, 312px 959px #fff,
		1810px 253px #fff, 1176px 432px #fff, 556px 1965px #fff, 1244px 1389px #fff,
		1930px 215px #fff, 1448px 1170px #fff, 1485px 293px #fff, 1292px 268px #fff,
		1871px 1234px #fff, 157px 1302px #fff, 1261px 1116px #fff, 1344px 264px #fff,
		494px 232px #fff, 508px 1241px #fff, 1358px 108px #fff, 695px 1538px #fff,
		80px 1304px #fff, 1509px 107px #fff, 1130px 1155px #fff, 1014px 767px #fff,
		444px 913px #fff, 1342px 402px #fff, 1549px 426px #fff, 1233px 1685px #fff,
		876px 1546px #fff, 1999px 38px #fff, 1637px 782px #fff, 666px 565px #fff,
		9px 55px #fff, 1646px 742px #fff, 313px 1486px #fff, 808px 1130px #fff,
		641px 475px #fff, 1355px 1376px #fff, 1828px 1244px #fff, 1805px 1692px #fff,
		599px 1454px #fff, 1407px 713px #fff, 823px 1922px #fff, 828px 132px #fff,
		609px 158px #fff, 153px 1052px #fff, 1267px 1665px #fff, 1075px 1369px #fff,
		852px 1496px #fff, 698px 100px #fff, 400px 153px #fff, 688px 249px #fff,
		1346px 1284px #fff, 1168px 1724px #fff, 1124px 1205px #fff,
		1770px 554px #fff, 951px 1842px #fff, 759px 293px #fff, 1937px 1276px #fff,
		1942px 139px #fff, 1584px 290px #fff, 1406px 72px #fff, 541px 85px #fff,
		613px 841px #fff, 51px 963px #fff, 1584px 1457px #fff, 255px 1543px #fff,
		1823px 1135px #fff, 1425px 532px #fff, 519px 1898px #fff, 752px 210px #fff,
		1310px 913px #fff, 1696px 480px #fff, 848px 1284px #fff, 311px 940px #fff,
		574px 480px #fff, 587px 1308px #fff, 267px 958px #fff, 915px 32px #fff,
		1280px 1602px #fff, 286px 1800px #fff, 873px 1499px #fff, 880px 593px #fff,
		288px 845px #fff, 1080px 508px #fff, 1687px 1941px #fff, 405px 1071px #fff,
		454px 281px #fff, 1543px 1530px #fff, 784px 1276px #fff, 962px 1223px #fff,
		1240px 1243px #fff, 1486px 421px #fff, 11px 363px #fff, 1815px 1408px #fff,
		867px 697px #fff, 344px 1326px #fff, 29px 125px #fff, 1008px 1417px #fff,
		403px 156px #fff, 607px 1979px #fff, 134px 517px #fff, 11px 531px #fff,
		854px 1534px #fff, 1519px 1994px #fff, 1153px 1659px #fff, 1109px 30px #fff,
		1047px 1303px #fff, 554px 1676px #fff, 960px 929px #fff, 858px 1722px #fff,
		416px 1437px #fff, 1374px 1188px #fff, 447px 1620px #fff, 1488px 1385px #fff,
		897px 1227px #fff, 1216px 1411px #fff, 369px 1767px #fff, 1126px 1413px #fff,
		217px 6px #fff, 1842px 1627px #fff, 211px 819px #fff, 1239px 488px #fff,
		745px 1186px #fff, 403px 387px #fff, 922px 1057px #fff, 1477px 1299px #fff,
		1855px 335px #fff, 557px 404px #fff, 1522px 542px #fff, 1779px 499px #fff,
		416px 1277px #fff, 542px 1210px #fff, 1983px 687px #fff, 273px 679px #fff,
		639px 1778px #fff, 416px 909px #fff, 1846px 1498px #fff, 1120px 1753px #fff,
		511px 97px #fff, 378px 1627px #fff, 6px 687px #fff, 1245px 1288px #fff,
		1360px 311px #fff, 992px 658px #fff, 823px 1669px #fff, 1239px 1067px #fff,
		1363px 959px #fff, 732px 1392px #fff, 336px 1404px #fff, 451px 610px #fff,
		541px 87px #fff, 1722px 1602px #fff, 603px 1299px #fff, 146px 367px #fff,
		1313px 1268px #fff, 505px 159px #fff, 701px 1399px #fff, 283px 339px #fff,
		421px 910px #fff, 925px 585px #fff, 1975px 1428px #fff, 1505px 1985px #fff,
		1442px 1004px #fff, 1314px 1514px #fff, 1078px 1713px #fff,
		153px 1855px #fff, 1759px 1210px #fff, 77px 1547px #fff, 1303px 595px #fff,
		891px 799px #fff, 893px 1879px #fff, 522px 780px #fff, 1697px 361px #fff,
		796px 80px #fff, 367px 328px #fff, 1598px 1811px #fff, 541px 1917px #fff,
		1233px 1268px #fff, 675px 558px #fff, 1835px 443px #fff, 1939px 1900px #fff,
		1459px 337px #fff, 1609px 1720px #fff, 468px 1383px #fff, 758px 30px #fff;
	animation: animStar 50s linear infinite;
}
#stars:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 537px 1828px #fff, 1096px 1433px #fff, 1481px 1817px #fff,
		1500px 1199px #fff, 1396px 507px #fff, 343px 1738px #fff, 1229px 160px #fff,
		953px 880px #fff, 23px 1621px #fff, 1000px 204px #fff, 1637px 701px #fff,
		1764px 589px #fff, 125px 1464px #fff, 23px 41px #fff, 407px 1272px #fff,
		1145px 1333px #fff, 1888px 1748px #fff, 254px 1427px #fff,
		1675px 1991px #fff, 1602px 237px #fff, 199px 725px #fff, 512px 714px #fff,
		1860px 1292px #fff, 1552px 1940px #fff, 29px 697px #fff, 1888px 1814px #fff,
		1321px 934px #fff, 1510px 707px #fff, 1896px 317px #fff, 1082px 499px #fff,
		1517px 186px #fff, 495px 1449px #fff, 1616px 1129px #fff, 1647px 1383px #fff,
		565px 1920px #fff, 1042px 46px #fff, 834px 1954px #fff, 205px 1754px #fff,
		54px 302px #fff, 1649px 1389px #fff, 1861px 1337px #fff, 710px 1995px #fff,
		1170px 1474px #fff, 817px 886px #fff, 1880px 1486px #fff, 1447px 1892px #fff,
		420px 1331px #fff, 1131px 1876px #fff, 1200px 1530px #fff, 1816px 721px #fff,
		1204px 1071px #fff, 1642px 1285px #fff, 956px 363px #fff, 882px 1634px #fff,
		1866px 767px #fff, 864px 696px #fff, 1067px 1204px #fff, 341px 1964px #fff,
		899px 320px #fff, 1187px 753px #fff, 24px 1524px #fff, 1313px 1055px #fff,
		447px 1002px #fff, 523px 1894px #fff, 751px 1462px #fff, 711px 804px #fff,
		1949px 949px #fff, 1997px 73px #fff, 1864px 1406px #fff, 268px 10px #fff,
		682px 212px #fff, 338px 885px #fff, 1621px 1071px #fff, 48px 1328px #fff,
		412px 1281px #fff, 750px 1114px #fff, 421px 1167px #fff, 1866px 1230px #fff,
		1935px 109px #fff, 1696px 1926px #fff, 341px 567px #fff, 1789px 691px #fff,
		1328px 128px #fff, 1145px 837px #fff, 895px 705px #fff, 552px 1935px #fff,
		1547px 1288px #fff, 1401px 812px #fff, 1231px 514px #fff, 1652px 990px #fff,
		1119px 1936px #fff, 235px 1746px #fff, 1330px 1172px #fff, 505px 960px #fff,
		1598px 40px #fff, 525px 654px #fff, 1420px 1037px #fff, 1564px 1336px #fff,
		1951px 916px #fff, 588px 583px #fff, 320px 995px #fff, 576px 662px #fff,
		1853px 1470px #fff, 786px 610px #fff, 1166px 1459px #fff, 825px 365px #fff,
		1013px 814px #fff, 1645px 469px #fff, 141px 869px #fff, 1904px 64px #fff,
		53px 1401px #fff, 549px 1815px #fff, 1926px 575px #fff, 894px 1316px #fff,
		1685px 515px #fff, 1153px 1942px #fff, 549px 372px #fff, 1229px 537px #fff,
		1631px 1902px #fff, 52px 900px #fff, 1181px 1049px #fff, 607px 1139px #fff,
		1963px 1px #fff, 151px 585px #fff, 38px 1252px #fff, 1198px 1723px #fff,
		1467px 977px #fff, 1796px 975px #fff, 473px 747px #fff, 672px 610px #fff,
		1336px 1620px #fff, 1403px 1364px #fff, 1980px 1513px #fff,
		944px 1678px #fff, 152px 1854px #fff, 1197px 1715px #fff, 1113px 1565px #fff,
		1690px 955px #fff, 929px 698px #fff, 576px 228px #fff, 1893px 993px #fff,
		828px 1333px #fff, 1750px 1139px #fff, 963px 1824px #fff, 771px 186px #fff,
		1584px 470px #fff, 1461px 531px #fff, 577px 62px #fff, 1289px 1971px #fff,
		492px 1146px #fff, 401px 1326px #fff, 1877px 891px #fff, 163px 1713px #fff,
		1288px 1451px #fff, 1173px 982px #fff, 1929px 879px #fff, 1637px 109px #fff,
		408px 1810px #fff, 1807px 1821px #fff, 1842px 1405px #fff, 793px 1044px #fff,
		895px 635px #fff, 612px 981px #fff, 1225px 777px #fff, 1601px 159px #fff,
		233px 10px #fff, 99px 1165px #fff, 111px 331px #fff, 305px 893px #fff,
		983px 358px #fff, 709px 79px #fff, 1670px 260px #fff, 1713px 913px #fff,
		230px 59px #fff, 116px 1939px #fff, 593px 1530px #fff, 1994px 811px #fff,
		1682px 833px #fff, 38px 882px #fff, 1505px 864px #fff, 480px 1875px #fff,
		95px 1675px #fff, 1422px 1290px #fff, 1856px 147px #fff, 452px 1264px #fff,
		1142px 7px #fff, 485px 163px #fff, 1125px 1618px #fff, 983px 654px #fff,
		1507px 1842px #fff, 735px 1182px #fff, 1834px 1696px #fff, 1818px 103px #fff,
		376px 1550px #fff, 232px 119px #fff, 1347px 199px #fff, 1504px 1249px #fff,
		895px 743px #fff, 469px 228px #fff, 1402px 1183px #fff, 783px 1825px #fff,
		1901px 878px #fff, 287px 662px #fff, 562px 601px #fff, 615px 1846px #fff,
		1982px 1415px #fff, 1591px 1905px #fff, 1152px 1120px #fff, 247px 185px #fff,
		634px 917px #fff, 1526px 411px #fff, 13px 773px #fff, 1288px 1880px #fff,
		1810px 1571px #fff, 1267px 2px #fff, 333px 191px #fff, 1949px 1974px #fff,
		895px 285px #fff, 1330px 1964px #fff, 1860px 1126px #fff, 1395px 545px #fff,
		770px 1622px #fff, 1692px 802px #fff, 1374px 1360px #fff, 975px 1778px #fff,
		1379px 654px #fff, 1155px 614px #fff, 1453px 40px #fff, 1014px 1639px #fff,
		961px 1409px #fff, 1068px 348px #fff, 1275px 228px #fff, 1980px 1436px #fff,
		1553px 976px #fff, 626px 489px #fff, 768px 73px #fff, 258px 1623px #fff,
		748px 1147px #fff, 869px 923px #fff, 1404px 70px #fff, 1139px 19px #fff,
		187px 744px #fff, 1014px 1595px #fff, 1004px 489px #fff, 1420px 1900px #fff,
		1611px 440px #fff, 1073px 828px #fff, 1505px 1650px #fff, 1692px 650px #fff,
		233px 1562px #fff, 1535px 836px #fff, 1982px 1386px #fff, 589px 1942px #fff,
		204px 196px #fff, 1231px 1361px #fff, 1456px 902px #fff, 1903px 1816px #fff,
		1452px 226px #fff, 1773px 1702px #fff, 1768px 1672px #fff, 320px 905px #fff,
		164px 812px #fff, 419px 582px #fff, 1502px 896px #fff, 831px 1604px #fff,
		1811px 860px #fff, 1609px 1609px #fff, 514px 77px #fff, 371px 645px #fff,
		1568px 1466px #fff, 1845px 721px #fff, 1640px 1990px #fff,
		1437px 1431px #fff, 1616px 1348px #fff, 913px 89px #fff, 1990px 1372px #fff,
		558px 1294px #fff, 1794px 1106px #fff, 658px 515px #fff, 107px 856px #fff,
		1370px 1236px #fff, 811px 477px #fff, 1501px 632px #fff, 638px 828px #fff,
		991px 895px #fff, 1713px 303px #fff, 1483px 1522px #fff, 763px 1436px #fff,
		994px 655px #fff, 501px 702px #fff, 842px 1307px #fff, 1360px 1578px #fff,
		923px 1817px #fff, 1415px 1417px #fff, 1613px 583px #fff, 293px 995px #fff,
		1868px 566px #fff, 1239px 94px #fff, 1471px 1181px #fff, 1033px 79px #fff,
		903px 1329px #fff, 1355px 391px #fff, 96px 1999px #fff, 37px 944px #fff,
		54px 63px #fff, 56px 1588px #fff, 1525px 1979px #fff, 423px 857px #fff,
		742px 1447px #fff, 933px 577px #fff, 101px 188px #fff, 290px 1766px #fff,
		1630px 1708px #fff, 775px 666px #fff, 1422px 1891px #fff, 1921px 1623px #fff,
		1000px 545px #fff, 1624px 859px #fff, 1175px 603px #fff, 1926px 1696px #fff,
		1616px 760px #fff, 716px 1225px #fff, 1688px 1817px #fff, 475px 1666px #fff,
		1622px 1797px #fff, 1055px 753px #fff, 871px 1639px #fff, 754px 322px #fff,
		1090px 1894px #fff, 253px 1186px #fff, 1140px 1280px #fff, 684px 1944px #fff,
		1728px 1816px #fff, 1101px 507px #fff, 1573px 205px #fff, 184px 209px #fff,
		666px 1837px #fff, 1030px 1302px #fff, 1730px 1225px #fff, 535px 1667px #fff,
		779px 668px #fff, 976px 1589px #fff, 1252px 1050px #fff, 301px 438px #fff,
		1072px 274px #fff, 1415px 670px #fff, 312px 1104px #fff, 1612px 1884px #fff,
		569px 247px #fff, 1816px 1906px #fff, 1549px 722px #fff, 164px 1569px #fff,
		1715px 1087px #fff, 440px 34px #fff, 228px 1245px #fff, 1231px 574px #fff,
		833px 899px #fff, 172px 358px #fff, 940px 1714px #fff, 493px 1417px #fff,
		1656px 1317px #fff, 1736px 450px #fff, 1948px 659px #fff, 1938px 929px #fff,
		500px 1049px #fff, 790px 125px #fff, 1065px 1866px #fff, 1309px 357px #fff,
		1328px 1715px #fff, 1457px 632px #fff, 207px 1124px #fff, 1340px 1630px #fff,
		1864px 1730px #fff, 659px 465px #fff, 1722px 232px #fff, 1299px 1894px #fff,
		1349px 53px #fff, 1337px 1620px #fff, 582px 821px #fff, 564px 810px #fff,
		271px 949px #fff, 522px 1935px #fff, 1526px 836px #fff, 439px 391px #fff,
		265px 1257px #fff, 217px 1616px #fff, 1155px 1308px #fff, 288px 555px #fff,
		1084px 74px #fff, 1729px 1477px #fff, 1766px 230px #fff, 1150px 1438px #fff,
		1235px 1447px #fff, 940px 1119px #fff, 1784px 1932px #fff,
		1766px 1039px #fff, 304px 1014px #fff, 954px 530px #fff, 559px 1871px #fff,
		1885px 348px #fff, 252px 1602px #fff, 276px 1336px #fff, 1507px 523px #fff,
		148px 1458px #fff, 273px 1630px #fff, 923px 1072px #fff, 926px 619px #fff,
		1485px 1440px #fff, 1359px 1px #fff, 1798px 1437px #fff, 1214px 1668px #fff,
		414px 1137px #fff, 530px 1326px #fff, 1362px 1121px #fff, 111px 673px #fff,
		1778px 1180px #fff, 1668px 798px #fff, 97px 1346px #fff, 1164px 68px #fff,
		864px 960px #fff, 34px 1406px #fff, 1469px 1683px #fff, 1599px 612px #fff,
		421px 1245px #fff, 731px 809px #fff, 280px 728px #fff, 235px 1353px #fff,
		711px 1199px #fff, 1132px 323px #fff, 1724px 1029px #fff, 1647px 1001px #fff,
		1872px 1609px #fff, 1643px 296px #fff, 1279px 87px #fff, 1789px 687px #fff,
		114px 1600px #fff, 679px 1046px #fff, 704px 1946px #fff, 151px 1788px #fff,
		1702px 124px #fff, 1571px 615px #fff, 865px 944px #fff, 1172px 1549px #fff,
		1072px 887px #fff, 756px 1520px #fff, 1749px 1079px #fff, 1385px 803px #fff,
		487px 1387px #fff, 1053px 233px #fff, 354px 773px #fff, 1898px 1849px #fff,
		97px 107px #fff, 1820px 1750px #fff, 1736px 1026px #fff, 1970px 642px #fff,
		359px 854px #fff, 1798px 1416px #fff, 969px 1838px #fff, 777px 918px #fff,
		853px 416px #fff, 1392px 255px #fff, 1147px 546px #fff, 256px 498px #fff,
		1338px 280px #fff, 1366px 576px #fff, 1692px 126px #fff, 837px 1105px #fff,
		471px 1914px #fff, 621px 1003px #fff, 627px 982px #fff, 1609px 1812px #fff,
		1438px 283px #fff, 1035px 1381px #fff, 30px 1208px #fff, 1778px 1296px #fff,
		539px 1171px #fff, 1016px 1821px #fff, 365px 297px #fff, 376px 604px #fff,
		455px 1200px #fff, 537px 1401px #fff, 1595px 536px #fff, 238px 825px #fff,
		1388px 898px #fff, 1364px 509px #fff, 754px 880px #fff, 207px 902px #fff,
		579px 1100px #fff, 1449px 598px #fff, 1581px 1587px #fff, 1549px 1632px #fff,
		1603px 1237px #fff, 906px 1943px #fff, 914px 242px #fff, 64px 315px #fff,
		430px 1293px #fff, 783px 545px #fff, 65px 837px #fff, 1348px 1037px #fff,
		235px 868px #fff, 220px 204px #fff, 1889px 680px #fff, 607px 1817px #fff,
		1678px 103px #fff, 1939px 1184px #fff, 1453px 1525px #fff,
		1001px 1452px #fff, 1082px 1147px #fff, 658px 691px #fff, 754px 1880px #fff,
		1887px 389px #fff, 789px 663px #fff, 1295px 1689px #fff, 1598px 193px #fff,
		1793px 1166px #fff, 109px 1090px #fff, 82px 885px #fff, 312px 959px #fff,
		1810px 253px #fff, 1176px 432px #fff, 556px 1965px #fff, 1244px 1389px #fff,
		1930px 215px #fff, 1448px 1170px #fff, 1485px 293px #fff, 1292px 268px #fff,
		1871px 1234px #fff, 157px 1302px #fff, 1261px 1116px #fff, 1344px 264px #fff,
		494px 232px #fff, 508px 1241px #fff, 1358px 108px #fff, 695px 1538px #fff,
		80px 1304px #fff, 1509px 107px #fff, 1130px 1155px #fff, 1014px 767px #fff,
		444px 913px #fff, 1342px 402px #fff, 1549px 426px #fff, 1233px 1685px #fff,
		876px 1546px #fff, 1999px 38px #fff, 1637px 782px #fff, 666px 565px #fff,
		9px 55px #fff, 1646px 742px #fff, 313px 1486px #fff, 808px 1130px #fff,
		641px 475px #fff, 1355px 1376px #fff, 1828px 1244px #fff, 1805px 1692px #fff,
		599px 1454px #fff, 1407px 713px #fff, 823px 1922px #fff, 828px 132px #fff,
		609px 158px #fff, 153px 1052px #fff, 1267px 1665px #fff, 1075px 1369px #fff,
		852px 1496px #fff, 698px 100px #fff, 400px 153px #fff, 688px 249px #fff,
		1346px 1284px #fff, 1168px 1724px #fff, 1124px 1205px #fff,
		1770px 554px #fff, 951px 1842px #fff, 759px 293px #fff, 1937px 1276px #fff,
		1942px 139px #fff, 1584px 290px #fff, 1406px 72px #fff, 541px 85px #fff,
		613px 841px #fff, 51px 963px #fff, 1584px 1457px #fff, 255px 1543px #fff,
		1823px 1135px #fff, 1425px 532px #fff, 519px 1898px #fff, 752px 210px #fff,
		1310px 913px #fff, 1696px 480px #fff, 848px 1284px #fff, 311px 940px #fff,
		574px 480px #fff, 587px 1308px #fff, 267px 958px #fff, 915px 32px #fff,
		1280px 1602px #fff, 286px 1800px #fff, 873px 1499px #fff, 880px 593px #fff,
		288px 845px #fff, 1080px 508px #fff, 1687px 1941px #fff, 405px 1071px #fff,
		454px 281px #fff, 1543px 1530px #fff, 784px 1276px #fff, 962px 1223px #fff,
		1240px 1243px #fff, 1486px 421px #fff, 11px 363px #fff, 1815px 1408px #fff,
		867px 697px #fff, 344px 1326px #fff, 29px 125px #fff, 1008px 1417px #fff,
		403px 156px #fff, 607px 1979px #fff, 134px 517px #fff, 11px 531px #fff,
		854px 1534px #fff, 1519px 1994px #fff, 1153px 1659px #fff, 1109px 30px #fff,
		1047px 1303px #fff, 554px 1676px #fff, 960px 929px #fff, 858px 1722px #fff,
		416px 1437px #fff, 1374px 1188px #fff, 447px 1620px #fff, 1488px 1385px #fff,
		897px 1227px #fff, 1216px 1411px #fff, 369px 1767px #fff, 1126px 1413px #fff,
		217px 6px #fff, 1842px 1627px #fff, 211px 819px #fff, 1239px 488px #fff,
		745px 1186px #fff, 403px 387px #fff, 922px 1057px #fff, 1477px 1299px #fff,
		1855px 335px #fff, 557px 404px #fff, 1522px 542px #fff, 1779px 499px #fff,
		416px 1277px #fff, 542px 1210px #fff, 1983px 687px #fff, 273px 679px #fff,
		639px 1778px #fff, 416px 909px #fff, 1846px 1498px #fff, 1120px 1753px #fff,
		511px 97px #fff, 378px 1627px #fff, 6px 687px #fff, 1245px 1288px #fff,
		1360px 311px #fff, 992px 658px #fff, 823px 1669px #fff, 1239px 1067px #fff,
		1363px 959px #fff, 732px 1392px #fff, 336px 1404px #fff, 451px 610px #fff,
		541px 87px #fff, 1722px 1602px #fff, 603px 1299px #fff, 146px 367px #fff,
		1313px 1268px #fff, 505px 159px #fff, 701px 1399px #fff, 283px 339px #fff,
		421px 910px #fff, 925px 585px #fff, 1975px 1428px #fff, 1505px 1985px #fff,
		1442px 1004px #fff, 1314px 1514px #fff, 1078px 1713px #fff,
		153px 1855px #fff, 1759px 1210px #fff, 77px 1547px #fff, 1303px 595px #fff,
		891px 799px #fff, 893px 1879px #fff, 522px 780px #fff, 1697px 361px #fff,
		796px 80px #fff, 367px 328px #fff, 1598px 1811px #fff, 541px 1917px #fff,
		1233px 1268px #fff, 675px 558px #fff, 1835px 443px #fff, 1939px 1900px #fff,
		1459px 337px #fff, 1609px 1720px #fff, 468px 1383px #fff, 758px 30px #fff;
}

#stars2 {
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1023px 553px #fff, 111px 1163px #fff, 84px 69px #fff,
		1456px 875px #fff, 1869px 167px #fff, 1795px 188px #fff, 1930px 1985px #fff,
		949px 1630px #fff, 1063px 1153px #fff, 1932px 456px #fff, 594px 1203px #fff,
		675px 458px #fff, 140px 1580px #fff, 838px 998px #fff, 1606px 1735px #fff,
		861px 1396px #fff, 262px 1128px #fff, 751px 42px #fff, 1870px 1635px #fff,
		1455px 15px #fff, 154px 1096px #fff, 1981px 1057px #fff, 1891px 1451px #fff,
		574px 1149px #fff, 1256px 1720px #fff, 300px 920px #fff, 1522px 188px #fff,
		900px 1236px #fff, 753px 1843px #fff, 1838px 209px #fff, 1893px 109px #fff,
		1339px 1876px #fff, 269px 1904px #fff, 1558px 950px #fff, 1593px 1273px #fff,
		299px 1266px #fff, 263px 1373px #fff, 727px 1278px #fff, 593px 1154px #fff,
		1581px 235px #fff, 92px 1255px #fff, 1990px 92px #fff, 1822px 740px #fff,
		47px 346px #fff, 286px 1131px #fff, 293px 408px #fff, 1845px 1695px #fff,
		488px 785px #fff, 347px 227px #fff, 1005px 1668px #fff, 672px 1547px #fff,
		1337px 448px #fff, 1641px 552px #fff, 1712px 1472px #fff, 1607px 440px #fff,
		356px 69px #fff, 1847px 1651px #fff, 1817px 1981px #fff, 167px 1494px #fff,
		951px 761px #fff, 572px 923px #fff, 642px 1962px #fff, 1379px 48px #fff,
		1637px 1344px #fff, 191px 400px #fff, 1034px 684px #fff, 1125px 219px #fff,
		65px 1867px #fff, 1203px 1382px #fff, 507px 1484px #fff, 1897px 719px #fff,
		1130px 1032px #fff, 928px 1360px #fff, 1141px 1051px #fff, 329px 1505px #fff,
		1823px 1362px #fff, 769px 566px #fff, 1636px 527px #fff, 1500px 1483px #fff,
		782px 1828px #fff, 383px 22px #fff, 962px 1781px #fff, 1126px 502px #fff,
		154px 1453px #fff, 21px 1415px #fff, 262px 1968px #fff, 985px 316px #fff,
		1882px 26px #fff, 717px 1225px #fff, 1482px 1977px #fff, 1729px 18px #fff,
		748px 981px #fff, 1322px 433px #fff, 215px 212px #fff, 1525px 579px #fff,
		1670px 656px #fff, 745px 1860px #fff, 758px 871px #fff, 1363px 858px #fff,
		1854px 1286px #fff, 1902px 1464px #fff, 683px 394px #fff, 441px 1530px #fff,
		559px 1828px #fff, 1833px 1817px #fff, 1584px 1930px #fff,
		1191px 1129px #fff, 1211px 186px #fff, 74px 988px #fff, 733px 7px #fff,
		412px 1659px #fff, 537px 1219px #fff, 794px 872px #fff, 494px 1292px #fff,
		828px 1211px #fff, 1572px 124px #fff, 766px 91px #fff, 1040px 142px #fff,
		969px 556px #fff, 76px 243px #fff, 248px 1663px #fff, 662px 1524px #fff,
		1231px 1867px #fff, 1090px 193px #fff, 133px 1557px #fff, 895px 715px #fff,
		684px 518px #fff, 135px 544px #fff, 48px 1240px #fff, 389px 1930px #fff,
		315px 611px #fff, 1171px 191px #fff, 368px 1056px #fff, 1193px 319px #fff,
		1563px 1003px #fff, 1657px 401px #fff, 54px 1459px #fff, 532px 1576px #fff,
		961px 866px #fff, 1818px 28px #fff, 737px 1264px #fff, 1280px 339px #fff,
		402px 1206px #fff, 1998px 1486px #fff, 218px 1408px #fff, 945px 383px #fff,
		734px 159px #fff, 536px 1570px #fff, 696px 1491px #fff, 229px 1066px #fff,
		1512px 1824px #fff, 967px 1732px #fff, 1026px 1082px #fff,
		1997px 1977px #fff, 1538px 555px #fff, 765px 881px #fff, 1944px 1411px #fff,
		1349px 367px #fff, 1623px 1803px #fff, 908px 87px #fff, 1014px 1430px #fff,
		1547px 1328px #fff, 871px 343px #fff, 523px 261px #fff, 1338px 590px #fff,
		1649px 512px #fff, 1688px 39px #fff, 1519px 1443px #fff, 1235px 1293px #fff,
		1586px 322px #fff, 505px 61px #fff, 1435px 1142px #fff, 1734px 116px #fff,
		1518px 210px #fff, 143px 322px #fff, 1542px 1682px #fff, 1365px 1098px #fff,
		1622px 848px #fff, 1571px 1015px #fff, 49px 1776px #fff, 914px 1981px #fff,
		332px 1421px #fff, 248px 679px #fff, 1939px 415px #fff, 1213px 1071px #fff,
		906px 273px #fff, 1333px 592px #fff, 806px 827px #fff, 51px 1976px #fff,
		425px 1930px #fff, 1190px 1752px #fff, 1019px 136px #fff, 905px 1883px #fff,
		756px 377px #fff, 1012px 608px #fff, 1435px 1136px #fff, 1464px 1957px #fff,
		1698px 1304px #fff, 634px 1798px #fff, 727px 1862px #fff;
	animation: animStar 100s linear infinite;
}
#stars2:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 2px;
	height: 2px;
	background: transparent;
	box-shadow: 1023px 553px #fff, 111px 1163px #fff, 84px 69px #fff,
		1456px 875px #fff, 1869px 167px #fff, 1795px 188px #fff, 1930px 1985px #fff,
		949px 1630px #fff, 1063px 1153px #fff, 1932px 456px #fff, 594px 1203px #fff,
		675px 458px #fff, 140px 1580px #fff, 838px 998px #fff, 1606px 1735px #fff,
		861px 1396px #fff, 262px 1128px #fff, 751px 42px #fff, 1870px 1635px #fff,
		1455px 15px #fff, 154px 1096px #fff, 1981px 1057px #fff, 1891px 1451px #fff,
		574px 1149px #fff, 1256px 1720px #fff, 300px 920px #fff, 1522px 188px #fff,
		900px 1236px #fff, 753px 1843px #fff, 1838px 209px #fff, 1893px 109px #fff,
		1339px 1876px #fff, 269px 1904px #fff, 1558px 950px #fff, 1593px 1273px #fff,
		299px 1266px #fff, 263px 1373px #fff, 727px 1278px #fff, 593px 1154px #fff,
		1581px 235px #fff, 92px 1255px #fff, 1990px 92px #fff, 1822px 740px #fff,
		47px 346px #fff, 286px 1131px #fff, 293px 408px #fff, 1845px 1695px #fff,
		488px 785px #fff, 347px 227px #fff, 1005px 1668px #fff, 672px 1547px #fff,
		1337px 448px #fff, 1641px 552px #fff, 1712px 1472px #fff, 1607px 440px #fff,
		356px 69px #fff, 1847px 1651px #fff, 1817px 1981px #fff, 167px 1494px #fff,
		951px 761px #fff, 572px 923px #fff, 642px 1962px #fff, 1379px 48px #fff,
		1637px 1344px #fff, 191px 400px #fff, 1034px 684px #fff, 1125px 219px #fff,
		65px 1867px #fff, 1203px 1382px #fff, 507px 1484px #fff, 1897px 719px #fff,
		1130px 1032px #fff, 928px 1360px #fff, 1141px 1051px #fff, 329px 1505px #fff,
		1823px 1362px #fff, 769px 566px #fff, 1636px 527px #fff, 1500px 1483px #fff,
		782px 1828px #fff, 383px 22px #fff, 962px 1781px #fff, 1126px 502px #fff,
		154px 1453px #fff, 21px 1415px #fff, 262px 1968px #fff, 985px 316px #fff,
		1882px 26px #fff, 717px 1225px #fff, 1482px 1977px #fff, 1729px 18px #fff,
		748px 981px #fff, 1322px 433px #fff, 215px 212px #fff, 1525px 579px #fff,
		1670px 656px #fff, 745px 1860px #fff, 758px 871px #fff, 1363px 858px #fff,
		1854px 1286px #fff, 1902px 1464px #fff, 683px 394px #fff, 441px 1530px #fff,
		559px 1828px #fff, 1833px 1817px #fff, 1584px 1930px #fff,
		1191px 1129px #fff, 1211px 186px #fff, 74px 988px #fff, 733px 7px #fff,
		412px 1659px #fff, 537px 1219px #fff, 794px 872px #fff, 494px 1292px #fff,
		828px 1211px #fff, 1572px 124px #fff, 766px 91px #fff, 1040px 142px #fff,
		969px 556px #fff, 76px 243px #fff, 248px 1663px #fff, 662px 1524px #fff,
		1231px 1867px #fff, 1090px 193px #fff, 133px 1557px #fff, 895px 715px #fff,
		684px 518px #fff, 135px 544px #fff, 48px 1240px #fff, 389px 1930px #fff,
		315px 611px #fff, 1171px 191px #fff, 368px 1056px #fff, 1193px 319px #fff,
		1563px 1003px #fff, 1657px 401px #fff, 54px 1459px #fff, 532px 1576px #fff,
		961px 866px #fff, 1818px 28px #fff, 737px 1264px #fff, 1280px 339px #fff,
		402px 1206px #fff, 1998px 1486px #fff, 218px 1408px #fff, 945px 383px #fff,
		734px 159px #fff, 536px 1570px #fff, 696px 1491px #fff, 229px 1066px #fff,
		1512px 1824px #fff, 967px 1732px #fff, 1026px 1082px #fff,
		1997px 1977px #fff, 1538px 555px #fff, 765px 881px #fff, 1944px 1411px #fff,
		1349px 367px #fff, 1623px 1803px #fff, 908px 87px #fff, 1014px 1430px #fff,
		1547px 1328px #fff, 871px 343px #fff, 523px 261px #fff, 1338px 590px #fff,
		1649px 512px #fff, 1688px 39px #fff, 1519px 1443px #fff, 1235px 1293px #fff,
		1586px 322px #fff, 505px 61px #fff, 1435px 1142px #fff, 1734px 116px #fff,
		1518px 210px #fff, 143px 322px #fff, 1542px 1682px #fff, 1365px 1098px #fff,
		1622px 848px #fff, 1571px 1015px #fff, 49px 1776px #fff, 914px 1981px #fff,
		332px 1421px #fff, 248px 679px #fff, 1939px 415px #fff, 1213px 1071px #fff,
		906px 273px #fff, 1333px 592px #fff, 806px 827px #fff, 51px 1976px #fff,
		425px 1930px #fff, 1190px 1752px #fff, 1019px 136px #fff, 905px 1883px #fff,
		756px 377px #fff, 1012px 608px #fff, 1435px 1136px #fff, 1464px 1957px #fff,
		1698px 1304px #fff, 634px 1798px #fff, 727px 1862px #fff;
}

#stars3 {
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 843px 708px #fff, 464px 942px #fff, 1372px 1217px #fff,
		618px 541px #fff, 90px 1676px #fff, 154px 813px #fff, 367px 1461px #fff,
		909px 71px #fff, 174px 390px #fff, 1011px 1978px #fff, 1586px 1173px #fff,
		1364px 1943px #fff, 532px 564px #fff, 383px 1167px #fff, 1558px 665px #fff,
		396px 994px #fff, 1556px 1979px #fff, 1523px 106px #fff, 1px 1606px #fff,
		1973px 360px #fff, 31px 1152px #fff, 1299px 1332px #fff, 1470px 1154px #fff,
		1234px 409px #fff, 169px 561px #fff, 430px 733px #fff, 1882px 514px #fff,
		445px 1168px #fff, 811px 358px #fff, 1056px 1622px #fff, 1198px 1591px #fff,
		945px 239px #fff, 685px 1344px #fff, 1385px 1278px #fff, 647px 699px #fff,
		654px 484px #fff, 685px 1082px #fff, 960px 1183px #fff, 773px 519px #fff,
		1114px 1738px #fff, 618px 11px #fff, 1962px 4px #fff, 507px 141px #fff,
		1735px 1437px #fff, 568px 752px #fff, 338px 554px #fff, 1927px 377px #fff,
		688px 750px #fff, 1160px 1772px #fff, 581px 151px #fff, 472px 1745px #fff,
		563px 840px #fff, 1916px 1539px #fff, 1700px 143px #fff, 1115px 1264px #fff,
		1159px 1167px #fff, 497px 3px #fff, 183px 1820px #fff, 1366px 760px #fff,
		1854px 654px #fff, 284px 52px #fff, 1136px 1915px #fff, 89px 1872px #fff,
		899px 1492px #fff, 1234px 88px #fff, 1817px 64px #fff, 1942px 629px #fff,
		272px 1839px #fff, 844px 1504px #fff, 895px 832px #fff, 497px 1120px #fff,
		1361px 79px #fff, 777px 1078px #fff, 1840px 9px #fff, 1217px 919px #fff,
		1880px 1502px #fff, 911px 1589px #fff, 592px 1963px #fff, 302px 1992px #fff,
		1756px 613px #fff, 1156px 842px #fff, 296px 451px #fff, 1588px 569px #fff,
		141px 151px #fff, 1367px 1466px #fff, 307px 1205px #fff, 726px 866px #fff,
		138px 118px #fff, 1828px 99px #fff, 1580px 639px #fff, 1473px 1710px #fff,
		984px 1847px #fff, 428px 1913px #fff, 797px 940px #fff, 1985px 690px #fff,
		387px 51px #fff, 1487px 295px #fff, 989px 1929px #fff, 1306px 1628px #fff,
		684px 22px #fff;
	animation: animStar 150s linear infinite;
}
#stars3:after {
	content: ' ';
	position: absolute;
	top: 2000px;
	width: 3px;
	height: 3px;
	background: transparent;
	box-shadow: 843px 708px #fff, 464px 942px #fff, 1372px 1217px #fff,
		618px 541px #fff, 90px 1676px #fff, 154px 813px #fff, 367px 1461px #fff,
		909px 71px #fff, 174px 390px #fff, 1011px 1978px #fff, 1586px 1173px #fff,
		1364px 1943px #fff, 532px 564px #fff, 383px 1167px #fff, 1558px 665px #fff,
		396px 994px #fff, 1556px 1979px #fff, 1523px 106px #fff, 1px 1606px #fff,
		1973px 360px #fff, 31px 1152px #fff, 1299px 1332px #fff, 1470px 1154px #fff,
		1234px 409px #fff, 169px 561px #fff, 430px 733px #fff, 1882px 514px #fff,
		445px 1168px #fff, 811px 358px #fff, 1056px 1622px #fff, 1198px 1591px #fff,
		945px 239px #fff, 685px 1344px #fff, 1385px 1278px #fff, 647px 699px #fff,
		654px 484px #fff, 685px 1082px #fff, 960px 1183px #fff, 773px 519px #fff,
		1114px 1738px #fff, 618px 11px #fff, 1962px 4px #fff, 507px 141px #fff,
		1735px 1437px #fff, 568px 752px #fff, 338px 554px #fff, 1927px 377px #fff,
		688px 750px #fff, 1160px 1772px #fff, 581px 151px #fff, 472px 1745px #fff,
		563px 840px #fff, 1916px 1539px #fff, 1700px 143px #fff, 1115px 1264px #fff,
		1159px 1167px #fff, 497px 3px #fff, 183px 1820px #fff, 1366px 760px #fff,
		1854px 654px #fff, 284px 52px #fff, 1136px 1915px #fff, 89px 1872px #fff,
		899px 1492px #fff, 1234px 88px #fff, 1817px 64px #fff, 1942px 629px #fff,
		272px 1839px #fff, 844px 1504px #fff, 895px 832px #fff, 497px 1120px #fff,
		1361px 79px #fff, 777px 1078px #fff, 1840px 9px #fff, 1217px 919px #fff,
		1880px 1502px #fff, 911px 1589px #fff, 592px 1963px #fff, 302px 1992px #fff,
		1756px 613px #fff, 1156px 842px #fff, 296px 451px #fff, 1588px 569px #fff,
		141px 151px #fff, 1367px 1466px #fff, 307px 1205px #fff, 726px 866px #fff,
		138px 118px #fff, 1828px 99px #fff, 1580px 639px #fff, 1473px 1710px #fff,
		984px 1847px #fff, 428px 1913px #fff, 797px 940px #fff, 1985px 690px #fff,
		387px 51px #fff, 1487px 295px #fff, 989px 1929px #fff, 1306px 1628px #fff,
		684px 22px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-2000px);
	}
}
